[submodule "rps"]
	path = rps
	url = https://github.com/device-management-toolkit/rps.git
[submodule "sample-web-ui"]
	path = sample-web-ui
	url = https://github.com/device-management-toolkit/sample-web-ui.git
[submodule "mps-router"]
	path = mps-router
	url = https://github.com/device-management-toolkit/mps-router.git
