on:
  push:
    tags:
      - "*"
name: Build and release on push
permissions:
  contents: read
jobs:
  release:
    name: create release artifacts
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - name: clone open amt examples repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.ref }}

      - name: Print github workspace
        run: echo $GITHUB_WORKSPACE && pwd && echo ${{ github.workspace }}

      - name: tar zip helm directory
        shell: bash
        run: |
          (cd $GITHUB_WORKSPACE/kubernetes && tar -czvf device-mgmt-toolkit-helm.tar.gz charts)

      - name: upload helm tarball release artifact
        uses: svenstaro/upload-release-action@6b7fa9f267e90b50a19fef07b3596790bb941741 # v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ${{ github.workspace}}/kubernetes/device-mgmt-toolkit-helm.tar.gz
          asset_name: device-mgmt-toolkit-helm.tar.gz
          tag: ${{ github.ref }}
          overwrite: true
          body: "Device Management Toolkit Helm deployment tarball asset"
