on:
  push:
    tags:
      - "*"
name: Build and release on push
permissions:
  contents: read
jobs:
  release:
    name: create release artifacts
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: clone open amt examples repo
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          ref: ${{ github.ref }}

      - name: Print github workspace
        run: echo $GITHUB_WORKSPACE && pwd && echo ${{ github.workspace }}

      - name: tar zip helm directory
        shell: bash
        run: |
          (cd $GITHUB_WORKSPACE/kubernetes && tar -czvf device-mgmt-toolkit-helm.tar.gz charts)

      - name: upload helm tarball release artifact
        uses: svenstaro/upload-release-action@81c65b7cd4de9b2570615ce3aad67a41de5b1a13 # v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ${{ github.workspace}}/kubernetes/device-mgmt-toolkit-helm.tar.gz
          asset_name: device-mgmt-toolkit-helm.tar.gz
          tag: ${{ github.ref }}
          overwrite: true
          body: "Device Management Toolkit Helm deployment tarball asset"
